<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body class="body" >


<div  ng-controller="View1Ctrl" >
    <!-- header division -->
    <div class="menu" id="div_SearchContainer" style="background-color: #3B5998">
        <form>
            <div style="position: relative; left: 20%; padding-top: 2%;padding-bottom: 5%;" >
        <div class="col-xs-3">
            <input class="form-control" type="text" id="txt_placeName" placeholder="Enter the place you want to search for" "/>
        </div>
        <div class="col-xs-3">
            <input class="form-control" type="text" id="txt_searchFilter" placeholder="Enter the search query"/>
        </div>
        <div>
            <button class="btn btn primary" id="btn_getReview" ng-click="getVenues()">Get Venues</button>
        </div>
            </div>
        </form>

    </div>
    <div id="div_VenueList">
        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;height: 600px">
                <ul>
                    <div>
                        <div ng-repeat="venue in venueList" >
                            <a  href="" ng-click="getReviews(venue);getDes(venue.location.formattedAddress)"  style="font-size: x-large; color: #5e5e5e; text-align: center;">
                                <div class="w3-card-4" style=";height: 10%;width: 90%">


                                    <div class="w3-container" >
                                        <h3 >{{venue.name}}</h3>

                                        <p style="font-size: small">1 {{venue.contact.formattedPhone}}</p>

                                        <p style="font-size: small">{{venue.location.formattedAddress[0]}},{{venue.location.formattedAddress[1]}},{{venue.location.formattedAddress[2]}},{{venue.location.formattedAddress[3]}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-sm-8" style="height: 600px; background-color: #5e5e5e">

                <div id="map" >

                </div>

                <input id="origin-input" class="controls" type="text"
                       placeholder="Enter an origin location">

                <input id="destination-input" class="controls" type="text"
                       placeholder="Enter a destination location">

                <div id="mode-selector" class="controls">

                    <input type="radio" name="type" id="changemode-walking" checked="checked">
                    <label for="changemode-walking">Walking</label>

                    <input type="radio" name="type" id="changemode-transit">
                    <label for="changemode-transit">Transit</label>

                    <input type="radio" name="type" id="changemode-driving">
                    <label for="changemode-driving">Driving</label>

                </div>


    </div>
    <div id="div_ReviewList" style="display:none;"  >


        <p ng-model="ReviewWithSentiment">

        <TABLE class="table" BORDER=2 CELLPADDING=4 id="myTable"> <TR> <TH style="color: white; background:#1ab188" COLSPAN=2>Sentiment Analysis From Using Alchemy API </TH> </TR>
            <TR > <TD>Most recent review</TD> <TD>{{ReviewWithSentiment.reviewText}}</TD> </TR>
            <TR > <TD>Sentiment of the review</TD> <TD>{{ReviewWithSentiment.sentiment}}</TD> </TR>
            <TR > <TD>Sentiment Score of the review</TD> <TD>{{ReviewWithSentiment.score}}</TD> </TR>
            <TR> <TH style="color: aliceblue; background:#1ab188" COLSPAN=2 BGCOLOR="#445553">{{ReviewWithSentiment.reviewText}}</TH> </TR>
        </TABLE>

        </p>

    </div>
    <div align="center" id="playAudio"></div>
</div>
    </div>
</div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1ozUmvAopZqB6LVGY949Nm73-Fp-dpW8&libraries=places&callback=initMap"
                async defer></script>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="app.js"></script>


</body>
</html>
